*.class
*.o

challenge1/ascii/sol.txt
/challenge1/ascii/costs
/challenge1/ascii/costs2
/challenge1/ascii/ronsu.txt
/challenge1/ascii/data.txt
/challenge1/costs
/challenge1/costs2
/challenge1/sol.txt

/challenge3/spacewar/game.replay
/challenge3/spacewar/obj/base64.d
/challenge3/spacewar/obj/base64.o
/challenge3/spacewar/obj/draw.d
/challenge3/spacewar/obj/draw.o
/challenge3/spacewar/obj/net/Connection.d
/challenge3/spacewar/obj/net/Connection.o
/challenge3/spacewar/obj/net/ServerSocket.d
/challenge3/spacewar/obj/net/ServerSocket.o
/challenge3/spacewar/obj/play.d
/challenge3/spacewar/obj/play.o
/challenge3/spacewar/obj/server.d
/challenge3/spacewar/obj/server.o
/challenge3/spacewar/play
/challenge3/spacewar/result.txt
/challenge3/spacewar/sample/cpp/a.out
